@font-face {
  font-family: "babapro";
  src: url(fonts/BabaPro.ttf);
}
@font-face {
  font-family: "bababold";
  src: url(fonts/bababold.ttf);

}
@font-face {
  font-family: "montreg";
  src: url(fonts/montreg.ttf);
}
body {
  font-family: "babapro";
  color: black;
  background: grey;
}
h1 {
  font-family: "babapro";
  font-size: 75px;
}
p{
  font-family: "montreg";
  font-size: 35px;
}
a {
  font-family: "montreg";
  font-size: 30px;
  color: rgb(0, 110, 255);
}
a:hover {
color: rgb(0, 25, 255);
font-size: 35px;
}