@font-face {
  font-family: "montreg";
  src: url(fonts/montreg.ttf);
}
@font-face {
  font-family: "montbold";
  src: url(fonts/montbold.ttf);
}
@font-face {
  font-family: "bababold";
  src: url(fonts/bababold.ttf);
}
body {
  font-family: "montreg";
  color: black;
  background: grey;
}
h1 {
  font-family: "bababold";
  font-size: 75px;
}
h2 {
  font-family: "montreg";
  font-size: 70px;
}
p{
  font-family: "montreg";
  font-size: 35px;
}
p1 {
  font-family: "montreg";
  font-size: 30px;
}
a {
  font-family: "montbold";
  font-size: 35px;
  color: rgb(0, 110, 255);
}
a:hover {
color: rgb(0, 25, 255);
}